%h1 Songs
%table
  - @songs.each do |song|
    -if song.name != nil
      %tr
        %td= link_to(song.name, song_path(song.id))
        %td= image_tag(song.image)
        %td= audio_tag(song.filename,:controls => true)
        - if @current_user.present? && !@current_user.is_admin
          -if  !@current_user.mixtapes.map(&:songs).flatten.include?(song) && @current_user.balance >= song.price
            %td= link_to(number_to_currency(song.price), purchase_song_path(song.id), :class=>'button radius', :confirm => "Are you sure?")
            %td= link_to("Refund", refund_song_path(song.id), :class=> 'button disabled alert')
          -else
            %td= link_to(number_to_currency(song.price), purchase_song_path(song.id), :class=>'button disabled')
            %td= link_to("Refund", refund_song_path(song.id), :class=> 'button radius alert')
        -else
          %td= link_to(number_to_currency(song.price), purchase_song_path(song.id), :class=>'button disabled')
          %td= link_to("Refund", refund_song_path(song.id), :class=> 'button disabled alert')

        -if @current_user.present? && @current_user.is_admin
          %td= link_to("Edit", edit_song_path(song.id), :class=>"button radius")
          %td= link_to("Delete", song, :method => :delete, :class=>"button radius alert")