%h1 Purchase Song
%h2= @song.name
-if @song.image != nil
  %div= image_tag(@song.image)
  %br
-if @song.artist != nil
  %div
    %span Artist:
    %span= link_to(@song.artist.name, artist_path(@song.artist.id))
    %br
-if @song.album != nil
  %div
    %span Album:
    %span= link_to(@song.album.name, album_path(@song.album.id))
    %br




=form_tag songs_bought_path, :method => 'post' do
  =hidden_field_tag('song_id', @song.id)
  %div= "Which Mixtape would you like to add "+@song.name+"?"
  -@current_user.mixtapes.order(:name).each do |mixtape|
    -if mixtape.name != @current_user.name+"'s Library"
      %div
        %span= mixtape.name
        %span= check_box_tag "song[mixtape_ids][]", mixtape.id, mixtape.in?(@song.mixtapes.to_a)
  -if @current_user.balance >= @song.price
    =submit_tag 'Buy', :class => 'button radius', :confirm => "Are you sure?"
  -else
    =submit_tag 'Buy', :class => 'button disabled'