.show
  %h1= @song.name
  -if @song.image != nil
    %div= image_tag(@song.image)
  %table
    -if @song.filename != nil
      %tr
        %td= audio_tag(@song.filename, :controls => true)
    -if @song.artist != nil
      %tr
        %td
          %span Artist:
          %span= link_to(@song.artist.name, artist_path(@song.artist.id))
    -if @song.album != nil
      %tr
        %td
          %span Album:
          %span= link_to(@song.album.name, album_path(@song.album.id))
    -if @song.genres != nil
      %tr
        %td
          %span Genres:
          -@song.genres.each do |genre|
            %li= link_to(genre.name, genre_path(genre.id))

    - if @current_user.present? && !@current_user.is_admin
      -if  !@current_user.mixtapes.map(&:songs).flatten.include?(@song) && @current_user.balance >= @song.price
        %tr
          %td= link_to(number_to_currency(@song.price), purchase_song_path(@song.id), :class=>'button radius', :confirm => "Are you sure?")
      -else
        %tr
          %td= link_to(number_to_currency(@song.price), purchase_song_path(@song.id), :class=>'button disabled')
    -else
      %tr
        %td= link_to(number_to_currency(@song.price), purchase_song_path(@song.id), :class=>'button disabled')
