.row
  .small-6.columns
    %h1 Tradr Users

.row
  .small-5.small-centered.columns
    = link_to("New", new_user_path, :remote => true, :class => "button radius", :id => "new_user_btn")
    #new_user_form
    %table#user_table
      %tr
        %th Email
        %th Cash Balance
        %th Stock Balance
        %th Total Balance
      -@users.each do |user|
        %tr
          %td= user.email
          %td= user.cash_balance
          %td= user.stock_balance
          %td= user.cash_balance + user.stock_balance