<section id="title">
  <%= @movie["Title"] %>
</section>
<section id="poster">
  <img src="<%= @movie["Poster"]%>">
</section>
<section>
  <span>Released: </span>
  <%= @movie["Released"] %>
</section>
<section>
  <span>Rated: </span>
  <%= @movie["Rated"] %>
</section>
<section>
  <span>Runtime: </span>
  <%= @movie["Runtime"] %>
</section>
<section>
  <span>Genre: </span>
  <%= @movie["Genre"] %>
</section>
<section>
  <span>Director: </span>
  <%= @movie["Director"] %>
</section>
<section>
  <span>Writer(s): </span>
  <%= @movie["Writer"] %>
</section>
<section>
  <span>Actors: </span>
  <%= @movie["Actors"] %>
</section>
<section>
  <span>Plot: </span>
  <%= @movie["Plot"] %>
</section>
